* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: -webkit-pictograph;
  background-color: #f2f2f2;
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  margin-top: 20px;
}

section .scroll-direction-horizontal {
  scroll-direction: horizontal;
}

section .horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.products.primary {
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
}

.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
}

.horizontal-scroll-wrapper {
  transform: rotate(-90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
  transform: rotate(90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper {
  transform: rotate(-90deg) translateY(-100px);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  background-color: #ffffff;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgb(255 255 255);
  border-radius: 6px;
  text-align: center;
  font-size: 30px;
  border-style: solid;
  box-shadow: 1px 2px 5px 0px #a9a9a9;
}

.price-value {
  color: red;
  font-weight: bold;
}

img {
  max-width: 80px;
}

.horizontalMobileScroll {
  --items: 3;
  --cell-padding: 0.5rem;
  --cell-basis: calc((100% - var(--cell-padding) * 2) / var(--items));

  display: flex;
  overflow: auto;
}

.horizontalMobileScroll__cell {
  flex: 1 0 var(--cell-basis);
  padding: var(--cell-padding);
}

.horizontalMobileScroll__inner {
  height: 8rem;
  display: flex;
  width: 15rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 1px 2px 5px 0px #a9a9a9;
}

.content-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-product {
  max-width: 50%;
}

.content-flex {
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 1px 2px 5px 0px #a9a9a9;
}

@media only screen and (max-width: 425px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    background-color: #ffffff;
    padding: 5px;
  }

  .grid-container div {
    font-size: 10px;
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background-color: #f2f2f2;
    padding: 5px;
  }

  img {
    max-width: 70px;
  }
}
